<div class="jumbotron">
	<h1 class="text-center">Olha as fotos!</h1>
</div>

<div class="row">
	<div class="col-md-12">
		<form>
			<input ng-model="filtro" ng-model-options="{debounce: 500}"
				type="text" class="form-control" placeholder="filtrar" />
		</form>
	</div>
</div>

<div class="row">
	<meu-painel class="col-md-2 painel-animado"
		ng-repeat="foto in fotos | filter: {name: filtro}"
		titulo="{{foto.name}}"> <minha-foto url="{{foto.url}}"
		titulo="{{foto.titulo}}"></minha-foto> </meu-painel>
</div>